<% unless comment.archived? %>
  <p>
    <strong><%= "#{User.find_by_id(comment.user_id).username}:" %></strong>
    <%= "#{comment.body}" %> (<%= link_to "delete", [comment.article, comment], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>)

  </p>
<% end %>
