<%= render "header" %>

<% if logged_in? %>
<div style="padding: 4px; padding-bottom: 20px;">
<div style="padding-bottom: 8px;">
    <span style="font-size: 18px; font-weight: bold;">User Actions</span>
</div>
<div>
    <div>
    <span><%= link_to "Write New Article", new_article_path %></span>
    </div>
</div>
</div>
<% end %>

<div style="padding: 4px; padding-bottom: 20px;">
    <span style="font-size: 18px; font-weight: bold;">Articles</span>
</div>

<% @articles.each do |article| %>
<% unless article.archived? %>
<%= render partial: "article_title", locals: {article: article} %>
<% end %>
<% end %>
